@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
// Color Variables
$saphire: #2E5266FF;
$lightslategray: #6E8898FF;
$cadetgray: #9FB1BCFF;
$americansilver: #D3D0CBFF;
$white: #F7F7F7;

*
{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin-block-start: 0;
    font-family: 'Poppins';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {width: 100%;}

.nav-container {
    background: $saphire;

    a {
        color: $cadetgray;
        font-size: larger;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        color: $americansilver;
        font-weight: bold;
        font-size: larger;
    }

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }
}
.social-header, .hero-design {
    display: none;
}

.hero {
    background: $lightslategray;
    color: $americansilver;
    display: grid;
    text-align: left;
    padding: 1em;
    font-size: .65em;
}

.meet {
    display: flex;
    margin: 0 auto;
    width: auto;
    font-weight: bold;
    font-size: large;
    color: $saphire;

    span {
        margin-top: 1em;
        margin-right: .5em;
    }
}

.scroll {
    width: 30px;
    margin-top: 2em;
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: $saphire;
    letter-spacing: .2em;
    font-size: 1em;
}

.featured-title {
    color: $lightslategray;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: -.2em;
    display: block;
}

.language {
    color: $lightslategray;
    font-weight: bold;
    font-size: 1em;
    margin-top: -.2em;
    display: block;
}

.featured-desc {
    color: $saphire;
    margin-bottom: 3em;
    font-size: .85em;
    line-height: 1.8em;
    font-weight: 550;
}

.skills {
    background: $americansilver;
}

.skills-container ul li {

    background: $saphire;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        &.one {
            width: 80px;
        }
        &.two {
            width: 80px;
        }
        &.three {
            width: 80px;
        }
    }

    .skills-title {
        font-weight: bold;
        color: $americansilver;
    }
    .featured-desc {
        margin-bottom: 2em;
        color: $cadetgray;
    }
}

.portfolio {
    background: $white;
    text-align: center;
}

.portfolio-container a img {
    border-radius: 1em;
    margin-top: 0em;
    margin-bottom: 3em;
}

.aboutme {
    background: $americansilver;
}

.aboutmetxt {
    font-size: large;
    font-weight: bolder;
    color: $saphire;
    text-align: center;
    padding: 1em 1em 1em 1em;
}

.button-container {
    background-color: $white;
    display: flex;
    justify-content: center;
    padding: 1em 1em 1em 1em;
}

.resume-button, .cv-button {
    padding: 20px 40px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    background-color: $saphire;
    color: $americansilver;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.resume-button a, .cv-button a {
    color: white;
    text-decoration: none;
}

.resume-button:hover, .cv-button:hover {
    background-color: $lightslategray;
}

@-webkit-keyframes shine {
	100% {
		left: 15%;
	}
}
@keyframes shine {
	100% {
		left: 15%;
	}
}

@media only screen and (min-width: 800px) {
    // overflow-x hidden to fix mobile
    body {
        overflow-x: hidden;
    }
    .featured, .portfolio {
        text-align: left;
    }
    .featured, .portfolio-container {
        display: grid;
        grid-template-columns: 40% auto;
    }
    
    .left, .portfolio-left {
        display: grid;
        place-content: center;
    }

    .right {
        margin-left: 2em;
        margin-top: 1em;
    }

    .skills {
        margin-top: 0em;
        margin-bottom: 0em;
        padding-top: 7em;
    }

    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }

    .portfolio {
        padding-top: 7em;
    }
    .portfolio-container img {
        margin-left: 2em;
    }

    .aboutme {
        padding-top: 3em;
        background: $americansilver;
        display: grid;
        grid-template-columns: repeat(2, auto);

    }
    .headshot {
        float: left;
        max-width: 500px;
    }
    .aboutmetxt {
        display: grid;
        grid-template-columns: repeat(2,auto);
        float: right;
        align-content: center;
        padding: 0em 1em 1em 1em;
    }

}

@media only screen and (min-width: 1050px) {
    // overflow-x hidden to try and fix mobile
    body {
        overflow-x: hidden;
    }
    .hero {
        height: 90vh;
    }

    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            background: $saphire;
        }
    }
    header {
        padding: 2em 2em 2em 4em;
    }
    .social-header {
        padding: 2em 4em 2em 0;
    }
    section {
        padding: 4em;
    }

    .social-header {
        display: block;

        ul {
            display: flex;
            justify-content: space-between;
            width: 9em;
            float: right;

            img {
                width: 30px;
            }
        }
    }
    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content {
            background: $lightslategray;
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1 {
                font-size: 4em;
                line-height: 1.2em;
            }
        }
    }
    .meet {
        margin: unset;
    }
    .hero-design {
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
    }

    .portfolio img {
        float: right;
        max-width: 500px;
    }
}


@media only screen and (min-width: 1250px) {
    header {
        padding: 2em 2em 2em 10em;
    }
    .social-header {
        padding: 2em 10em 2em 0;
    }
    section {
        padding: 10em 10em 4em 10em;
    }
    .hero .content {
        padding: 6em 8em 6em 10em;
    }
}

@media only screen and (min-width: 1550px) {
    header {
        padding: 2em 2em 2em 10em;
    }
    .social-header {
        padding: 2em 20em 2em 0;
    }
    section {
        padding: 10em 20em 4em 20em;
    }
    .hero .content {
        padding: 6em 20em 6em 20em;
    }
}

// For Animation
.circle {
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    from {
        transform: translate(1px, 1px);
        z-index: 5;
    }
    to {
        transform: translate(1px, 49px);
    }
}