@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

:root {
    --saphire: #2E5266FF;
    --lightslategray: #6E8898FF;
    --cadetgray: #9FB1BCFF;
    --americansilver: #D3D0CBFF;
    --white: #F7F7F7;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin-block-start: 0;
  font-family: "Poppins";
  padding-top: 70px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #2e5266;
}
.nav-container a {
  color: #9fb1bc;
  font-size: larger;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.4em 2em;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--saphire);
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: #d3d0cb;
  font-weight: bold;
  font-size: larger;
}
header ul {
  display: flex;
}
header ul a {
  display: block;
  padding: 0 0.6em;
}

/* Hamburger button styling */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  gap: 5px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 15;
  display: flex;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
.hamburger .bar {
  height: 4px;
  width: 100%;
  background-color: var(--americansilver);
  transition: 1s;
}
.no-scroll {
  overflow: hidden;
}

/* Full-screen menu styling */
.nav-links {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--saphire);
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  gap: 20px;
  z-index: 10;
}
/* Display full-screen menu when active */
.nav-links.active {
  display: flex;
}
/* Menu items stacked vertically */
.nav-links ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  align-items: center;
  list-style: none;
}
.nav-links ul li {
  width: 100%;
  text-align: center;
}
.nav-links ul li a {
  color: var(--americansilver);
  font-size: 1.5em;
  text-decoration: none;
  padding: 10px 0;
}

.social-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 15em;
  padding-bottom: 20px;
}
.social-menu ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.social-menu ul li {
  list-style: none;
}
.social-menu img {
  width: 50px;
  height: 50px;
}

.social-header, .hero-design {
  display: none;
}

.hero {
  background: #6e8898;
  color: #d3d0cb;
  display: grid;
  text-align: left;
  padding: 1em;
  font-size: 0.65em;
}

.meet {
  display: flex;
  margin: 0 auto;
  width: auto;
  font-weight: bold;
  font-size: large;
  color: #2e5266;
}
.meet span {
  margin-top: 1em;
  margin-right: 0.5em;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #2e5266;
  letter-spacing: 0.2em;
  font-size: 1em;
}

.featured-title {
  color: #6e8898;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: -0.2em;
  display: block;
}

.language {
  color: #6e8898;
  font-weight: bold;
  font-size: 1em;
  margin-top: -0.2em;
  display: block;
}

.featured-desc {
  color: #2e5266;
  margin-bottom: 3em;
  font-size: 0.85em;
  line-height: 1.8em;
  font-weight: 550;
}

.skills {
  background: #d3d0cb;
}

.skills-container ul li {
  background: #2e5266;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}
.skills-container ul li .icon-container {
  height: 100px;
  display: grid;
  place-content: center;
  margin: 0 auto;
}
.skills-container ul li .icon-container.one {
  width: 80px;
}
.skills-container ul li .icon-container.two {
  width: 80px;
}
.skills-container ul li .icon-container.three {
  width: 80px;
}
.skills-container ul li .skills-title {
  font-weight: bold;
  color: #d3d0cb;
}
.skills-container ul li .featured-desc {
  margin-bottom: 2em;
  color: #9fb1bc;
}

.portfolio {
  background: #F7F7F7;
  text-align: center;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-top: 0em;
  margin-bottom: 3em;
}

.aboutme {
  padding-top: 3em;
  background: #d3d0cb;
  display: grid;
  align-items: center;
  gap: 2em;
}

.headshot {
  max-width: 200px;
}

.aboutmetxt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutmetxt {
  font-size: large;
  font-weight: bolder;
  color: #2e5266;
  text-align: center;
  padding: 0em 1em 1em 1em;
}

.contactinfo {
  font-size: large;
  font-weight: bolder;
  color: #2e5266;
  text-align: center;
  padding: 0em 1em 1em 1em;
}

.button-container {
  background-color: #d3d0cb;
  display: flex;
  justify-content: center;
  padding: 1em 1em 1em 1em;
}

.resume-button, .cv-button {
  padding: 20px 40px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  background-color: #2e5266;
  color: #d3d0cb;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}

.resume-button a, .cv-button a {
  color: white;
  text-decoration: none;
}

.resume-button:hover, .cv-button:hover {
  background-color: #6e8898;
}
@keyframes shine {
  100% {
    left: 15%;
  }
}

@media only screen and (max-width: 799px) {
  .aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .headshot {
    max-width: 95%;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .featured, .portfolio {
    text-align: left;
  }
  .featured, .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }
  .left, .portfolio-left {
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .skills {
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 7em;
  }
  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 7em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
  .aboutme {
    padding-top: 3em;
    background: #d3d0cb;
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .headshot {
    float: left;
    max-width: 500px;
  }
  .aboutmetxt {
    display: grid;
    grid-template-columns: repeat(2, auto);
    float: right;
    align-content: center;
    padding: 0em 1em 1em 1em;
  }
}

@media only screen and (min-width: 1050px) {
  body {
    overflow-x: hidden;
  }
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #2e5266;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: flex;
    justify-content: space-between;
    width: 9em;
    float: right;
  }
  .social-header ul img {
    width: 30px;
  }
  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #6e8898;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 4em;
    line-height: 1.2em;
  }
  .meet {
    margin: unset;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
}
@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}
@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 10em 20em 4em 20em;
  }
  .hero .content {
    padding: 6em 20em 6em 20em;
  }
}
.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
  from {
    transform: translate(1px, 1px);
    z-index: 5;
  }
  to {
    transform: translate(1px, 49px);
  }
}/*# sourceMappingURL=main.css.map */
